.proposals {
   border-radius: 3px;
   padding: 15px;
   background-color: rgb(17, 17, 17);
   box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.15);
}

.proposals_header {
   display: flex;
   align-items: flex-start;
   gap: 15px;
}

.proposals_pic {
   width: 40px;
   aspect-ratio: 1/1;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 50%;
}

.proposals_info {
   display: flex;
   flex-direction: column;
}

.proposals_info h5 {
   font-size: 0.85rem;
}

.proposals_info p {
   font-size: 0.6875rem;
   margin-top: 3px;
}

.proposal_header_actions {
   margin-left: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.btn {
   background: none;
   color: rgba(255, 255, 255, 0.9);
   outline: none;
   border: none;
   font-size: 1rem;
   cursor: pointer;
   transition: scale 0.2s linear;
}

.btn:hover {
   scale: 1.15;
}

.status {
   display: flex;
   align-items: center;
   gap: 5px;
}

.indicator {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   display: inline;
}

.review {
   background-color: red;
}

.active {
   background-color: greenyellow;
}

.proposals_body {
   margin: 20px 0 20px 0;
   font-size: 0.75rem;
}

.proposals_body p {
   height: 50px;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   overflow: hidden;
   text-overflow: ellipsis;
}

.see_more {
   background: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
   margin-top: 5px;
   border-radius: 4px;
   text-decoration: none;
}

.see_more:hover {
   text-decoration: underline;
   text-underline-offset: 3px;
}

.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(27, 27, 27);
   padding: 10px 7px;
   border-radius: 7px;
   font-size: 0.75rem;
   font-weight: bold;
}

.footer .card_actions {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.footer .card_actions a,
.footer .card_actions button {
   background: none;
   color: white;
   transition: scale 0.1s linear;
}

.footer .card_actions a:hover,
.footer .card_actions button:hover {
   scale: 1.15;
}

.footer .card_actions a {
   font-size: 1rem;
}

.footer .card_actions button {
   font-size: 1rem;
   outline: none;
   border: none;
   cursor: pointer;
}
