.form-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.form-header .close-modal {
   background-color: rgba(255, 255, 255, 0.1);
   color: white;
   width: 45px;
   aspect-ratio: 1;
   border: none;
   outline: none;
   border-radius: 50%;
   font-size: 2rem;
   cursor: pointer;
   padding-top: 6px;
   transition: all 0.15s linear;
}

.form-header .close-modal:hover {
   background-color: rgba(255, 255, 255, 0.35);
}

h3 {
   font-size: 1.75rem;
   color: white;
}

form {
   width: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}

.input-group {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-bottom: 15px;
}

.input-group select,
.input-group input,
.input-group textarea {
   background-color: #080808;
   color: white;
   font-size: 0.875rem;
}

.input-group input,
.input-group select,
.input-group textarea {
   width: 320px;
   /* min-width: 220px; */
   min-height: 40px;
   padding: 3px;
   border-radius: 4px;
   border: 1px solid transparent;
   outline: none;
   resize: vertical;
   transition: border 0.2s linear;
}

.input-group input:focus-visible,
.input-group select:focus-visible,
.input-group textarea:focus-visible {
   border: 1px solid white;
}

.input-group label {
   color: rgba(255, 255, 255, 0.9);
   font-size: 0.825rem;
}

.form-btn {
   background: linear-gradient(-330deg, rgb(48, 48, 236), rgba(255, 255, 255, 0.6));
   color: white;
   width: 100%;
   margin: 20px 0 20px;
   padding: 8px 12px;
   font-size: 1rem;
   font-weight: bold;
   border-radius: 1600000000px;
   border: 2px solid transparent;
   outline: none;
   cursor: pointer;
   transition: border 0.2s linear;
}

.form-btn:focus {
   border: 2px solid white;
}

.error {
   color: red;
   font-size: 0.6875rem;
}
